body
{
  
}

.Page
{
  width: 1000px;
}

.HeaderRegion
{
  height: 150px;
  width: 100%;
  background-color: Red;
}

.ContentRegion
{
  width: 100%;
  background-color: Blue;
  float: left;
}

.FooterRegion
{
  height: 150px;
  width: 100%;
  background-color: Green;
  clear:both;
}

/* Logo */
.Logo
{
  float: left;
}

/* Navigation */
.LeftNavigation
{
  width: 200px;
  background-color: White;
  float:left;  
}

.LeftNavigation ul
{
  list-style: none;
}

.LeftNavigation a
{
  color: Red;
  text-decoration: none;
}

.LeftNavigation .Selected
{
  color: Black;
  text-decoration: underline;
}
  
/* GlobalNavigation */
.GlobalNavigation
{
  float: right;
}

/* TwoColumnSpots */
.Spot
{
  border: 2px solid #000;
  margin-left: 5px;
}

.Spot a
{
  color: Black;
  
}
.LeftColumn
{
  float: left;
  width: 33%;
}

.RightColumn
{
  float: left;
  width: 33%;
}
